@import './colors';
@import './components';
@import './media';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 0;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	position: relative;
	height: 100vh;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.6rem;
	background-color: $pure-white;
	max-width: 1680px;
	margin: 0 auto;
}

.wrapper {
	margin: 0 auto;
	padding: 1em;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	margin-top: 1em;
	padding-bottom: 0.67em;
	text-align: center;
	font-size: 2.4rem;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

// NAV DESKTOP
.nav {
	&__desktop {
		position: fixed;
		display: none;
		justify-content: center;
		align-items: center;
		padding: 0 0.67em;
		width: 100%;
		background-image: $nav-gradient;
		height: 65px;
		z-index: 1;

		&-bar {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			max-width: 1200px;
		}

		&-link,
		&-brandlink {
			display: flex;
			align-items: center;
			color: $dark;
			text-decoration: none;
			transition: color 0.3s, background-color 0.3s;
		}

		&-link {
			padding: 1em 2em;
			font-size: 1.5rem;
			text-transform: uppercase;
		}

		&-brandlink {
			margin-left: 1em;
			font-size: 2.4rem;

			&-icon {
				padding: 0 0.33em;
			}
		}

		&-link:hover {
			color: $pure-white;
			background-color: $dark;
		}

		&-menu {
			display: flex;
			justify-content: flex-end;
			width: 75%;
		}
	}

	// NAV MOBILE
	&__mobile {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		left: -51%;
		height: 100vh;
		width: 50%;
		background-image: $nav-gradient;
		transition: left 0.4s;
		z-index: 2;

		&--active {
			left: 0%;
		}

		&-link {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1em;
			width: 100%;
			font-size: 1.8rem;
			color: $dark;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				font-weight: bold;
				color: $pure-white;
				background-color: $dark;
			}
		}
	}

	&__active {
		color: $pure-white;
		background-color: $dark;
	}
}

.hamburger {
	position: fixed;
	display: flex;
	padding: 1em;
	z-index: 3;
}

.black-bars,
.black-bars::after,
.black-bars::before {
	background-color: #111;
}

// HEADER
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 50vh;
	width: 100%;
	@include heroImages('../../dist/img/desk640.jpg');
	background-attachment: scroll;

	&__photo {
		position: absolute;
		top: 5%;
		right: 5%;
		height: 120px;
		width: 120px;
		border-radius: 25%;
	}

	&__text {
		position: absolute;
		top: 60%;
		padding: 10px 20px;
		color: $gray-white;
		background: $light-shadow-gradient;
		backdrop-filter: blur(20px);
		transform: translate(0, -50%);

		&-p {
			font-size: 1.4rem;
		}

		&-h1 {
			font-size: 2.6rem;
		}
	}
}

// TECH STACK
.stack {
	padding: 1em 0 2em 0;
	display: flex;
	background-color: $pure-white;

	&__box {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		&-tech {
			margin: 0.5em;
			width: 75px;
			height: 75px;
			transition: scale 0.3s;
			&:hover {
				scale: 0.9;
			}
		}
	}

	&__img {
		margin: 5em;
	}
}

.stack__box-tech {
	width: 100px;
	height: 100px;
}

// ADVENTURE
.adventure {
	position: relative;
	padding: 12em 2em;
	@include heroImages('../../dist/img/twomonitor640.jpg');
	overflow: hidden;

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

		&-h2 {
			margin: 20px;
			padding: 20px;
			font-size: 2rem;
			color: $gray-white;
			border: 2px solid $gray-white;
		}
	}
}

// PROJECTS
.projects {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $pure-white;

	&__cards {
		padding: 0 2em;
	}

	&__text {
		text-align: center;
	}

	&__card {
		position: relative;
		margin: 3em 0;
		height: 450px;
		color: $pure-white;
		text-align: center;
		perspective: 1000px;
		transition: 0.5s;

		&:hover {
			.projects__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}

			.projects__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;

			&--first {
				background-image: $light-shadow-gradient,
					url('../../dist/img/cms480.jpg');
			}

			&--second {
				background-image: $light-shadow-gradient,
					url('../../dist/img/frost480.jpg');
			}

			&--third {
				background-image: $light-shadow-gradient,
					url('../../dist/img/gamers480.jpg');
			}

			&--fourth {
				background-image: $light-shadow-gradient,
					url('../../dist/img/java480.jpg');
			}
			&--fifth {
				background-image: $light-shadow-gradient,
					url('../../dist/img/tropical480.jpg');

			}
			&--sixth {
				background-image: $light-shadow-gradient,
					url('../../dist/img/invest480.jpg');
			}

			&-title {

				display: inline;
				margin: 0 auto;
				padding: 5px 10px;
				font-size: 2.2rem;
				background: $shadow-gradient;
				backdrop-filter: blur(20px);
				border-radius: 8px;
			}

			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				padding: 0.5em;
				font-size: 1.4rem;
				color: $dark;
				background: $main-color;
				border-radius: 8px;

				i {
					margin-right: 0.3em;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			background-image: $shadow-gradient;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&-title {
				margin: 0 auto;
				// padding: 5px 10px;
				font-size: 2.2rem;
			}

			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;

				&-item {
					padding: 1em;
					font-size: 1.2rem;
					border-bottom: 1px solid $gray-white;

					&:last-child {
						border-bottom: none;
					}
				}
			}

			&-btn {
				@include projectsCardStyles;
				bottom: 2em;
				padding: 0.5em;
				width: 80%;
				font-size: 1.4rem;
				background-color: $main-color;
				border: none;
				border-radius: 8px;
				cursor: pointer;

				&::before {
					background-color: $secondary-color;
				}
			}
		}
	}
}

// REACT
.react {
	position: relative;
	padding: 3em 2em 5em;
	@include heroImages('../img/matrix640.jpg');
	overflow: hidden;

	.section-heading {
		color: $pure-white;
	}

	&__option {
		margin: 1em 0;
		box-shadow: 5px 5px 10px #2e2e2e2e;
		background-color: $pure-white;
		overflow: hidden;

		&-img {
			width: 100%;
			height: 100%;
			transition: transform 0.5s;

			&:hover {
				transform: scale(1.1);
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 2em;
			background-color: $pure-white;
			z-index: 0;
		}
		&-heading {
			margin-bottom: 0.5em;
			font-size: 2rem;
			font-weight: 400;
		}
		&-text {
			margin-bottom: 0.5em;
			font-size: 1.2rem;
			color: $dark;
		}

		&-btn {
			align-self: center;
			margin-top: 2em;
			padding: 0.5em;
			width: 100%;
			font-size: 1.4rem;
			background-color: $main-color;
			border: none;
			border-radius: 8px;
			cursor: pointer;

			&::before {
				background-color: $secondary-color;
			}
		}
	}
}

// REVIEWS
.reviews {
	padding: 2em 0;
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		transition: transform 0.4s;
		box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.27);

		&:hover {
			transform: scale(0.95);
		}

		&-img {
			position: absolute;
			top: 8%;
			left: 75%;
			transform: translate(-50%, -50%);

			img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				border-radius: 50pc;
			}
		}
		&-quote {
			margin-bottom: 1em;
			font-size: 3rem;
			color: $main-color;
		}
		&-text {
			margin-bottom: 1em;
			font-size: 1.4rem;
			color: $dark;
		}
	}
}

// CONTACT
.contact-section {
	position: relative;
	padding-top: 3em;
	width: 100%;
	background-image: $nav-gradient;
	overflow: hidden;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #333;

	&__brand {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		font-size: 3.2rem;
		color: #333;
		text-decoration: none;

		&-info {
			display: flex;
			flex-direction: column;
			font-size: 1.6rem;

			p {
				margin: 0.3em;
			}
		}

		&-icon {
			margin-right: 20px;
		}
	}

	&__text {
		width: 100%;
		&-info {
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 3.3em 0 1.5em 0;

			a {
				display: block;
				// margin: 0.5em;
				font-size: 4rem;
				color: #444;
				transition: color 0.3s, transform 0.3s;

				&:hover {
					color: #222;
					transform: scale(0.9);
				}
			}
		}
	}
}

// FOOTER
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	font-size: 1rem;
	background-image: $nav-gradient;
}

// -------------
// MEDIA
// -------------

@media (min-width: 576px) {
	.wrapper {
		padding: 1.8em;
	}

	.header {
		&__photo {
			top: 5%;
			right: 5%;
			height: 200px;
			width: 200px;
		}
		&__text {
			&-p {
				font-size: 1.6rem;
			}

			&-h1 {
				font-size: 3rem;
			}
		}
	}

	.section-heading {
		padding-bottom: 1em;
		font-size: 2.8rem;
	}

	.nav-link {
		font-size: 2rem;
	}

	.stack {
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;
			}

			&-img {
				width: 40%;
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}

	.projects {
		&__card {
			&-img {
				&-title {
					font-size: 2.8rem;
				}
				&-info {
					font-size: 1.6rem;
				}
			}
			&-info {
				&-title {
					font-size: 2.8rem;
				}
				&-btn {
					font-size: 1.6rem;
				}
				&-list {
					&-item {
						font-size: 1.4rem;
					}
				}
			}
		}
	}

	.react {
		&__option {
			display: flex;
			margin: 2em 0;
			width: 100%;

			&-img {
				width: 50%;
				height: auto;

				&--right {
					order: 1;
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			&-btn {
				width: 100%;
			}
		}
	}

	.footer {
		font-size: 1.1rem;
	}
}

@media (min-width: 768px) {
	.wrapper {
		padding: 2.4em;
	}

	.section-heading {
		padding-bottom: 1.2em;
		font-size: 3.2rem;
	}

	.header {
		&__text {
			&-p {
				font-size: 2rem;
			}

			&-h1 {
				font-size: 3.4rem;
			}
		}
	}

	.nav-link {
		font-size: 2.2rem;
	}

	.stack__box-tech {
		width: 100px;
		height: 100px;
	}

	.adventure {
		&__text {
			&-h2 {
				padding: 40px 120px;
				font-size: 2rem;
				font-size: 3.2rem;
			}
		}
	}

	.projects {
		&__cards {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		&__card {
			// padding: 2em;
			width: 45%;
		}
	}

	.react {
		&__option {
			&-heading {
				font-size: 2.4rem;
			}
			&-text {
				font-size: 1.4rem;
			}
			&-btn {
				font-size: 1.6rem;
			}
		}
	}

	.contact {
		&__brand {
			display: flex;
			justify-content: flex-start;
			font-size: 4rem;
			&-info p {
				font-size: 1.8rem;
			}
		}

		&__text {
			&-info {
				a {
					font-size: 4.4rem;
				}
			}
		}
	}

	.footer {
		font-size: 1.2rem;
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 64px;
	}

	.section-heading {
		padding-bottom: 1.2em;
		font-size: 3.2rem;
	}

	.header {
		height: 60vh;
		@include heroImages('../../dist/img/desk1920.jpg');
		background-attachment: scroll;
		&__photo {
			top: 10%;
			right: 1%;
			height: 250px;
			width: 250px;
		}
		&__text {
			&-p {
				font-size: 2.2rem;
			}

			&-h1 {
				font-size: 4rem;
			}
		}

		.nav__desktop {
			display: flex;
			height: 65px;
		}

		.hamburger {
			display: none;
		}
	}

	.stack {
		&__text {
			font-size: 1.8rem;
			line-height: 30px;
		}

		&__title {
			font-size: 2.4rem;
		}
	}

	.adventure {
		&__img {
			@include heroImages('../../dist/img/twomonitor1920.jpg');
		}
	}

	.react {
		@include heroImages('../../dist/img/matrix1920.jpg');

		&__option {
			&-text {
				font-size: 1.5rem;
			}
		}
	}

	.footer {
		font-size: 1.4rem;
	}
}

@media (min-width: 1200px) {
	.header {
		&__photo {
			height: 300px;
			width: 300px;
		}
	}

	.contact {
		flex-direction: row;
	}
}
